<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="org.example.signageplayer" version="1.0.0" viewmodes="maximized">
  <name>SignagePlayer</name>
  <content src="public/index.html"/>
  <tizen:application id="org.example.signageplayer" package="org.example" required_version="7.0"/>
  <tizen:profile name="tv-samsung"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
</widget>
